* {
    box-sizing: border-box
}
body {
    background-image: url("../images/2.jpg") !important; /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: auto; /* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
 }

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(70, 204, 164);
}

h1 {
	font-size: 35px;
	margin-top: 50px;
    margin-bottom: 30px;
}



/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #333;
}


#ww {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #e0f2f5;
}


#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}
 #bio-image {
    border-radius: 50%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
.img-responsive {
    display: flex;
    width: 100%;
  }
  