* {
    box-sizing: border-box;
  }
  body {
    background-image: url("../images/7.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: auto; /* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
 }
  button.submit {
    float: right;
  }
  label {
      color: whitesmoke;
      font-size: 18px;
  }
  .h2 {
    color: whitesmoke;
  }
  .fa-cross {
    padding-right: 10px;
}
  form#cms {
    margin-top: 30px;
  }
  
  #cms textarea {
    resize: none;
  }
  
  .card-header button.delete,
  button.edit {
    float: right;
    margin: 5px;
  }
  .btn-light {
    background-color: rgb(44, 235, 75);
    color: whitesmoke;
}
  .btn-light:hover {
    background-color: rgb(248, 80, 80);
  }
  .author-container {
    margin-top: 10px;
  }
  
  .author-list {
    margin-top: 25px;
  }
  
  
  .blog {
    margin-top: 30px !important;
  }
  
  .hidden {
    display: none;
  }
  
  #author-name {
    width: 100%;
    height: 35px;
    margin-top: 5px;
  }
  .card {
    margin-bottom: 30px;
  }
  .top-30 {
    margin-top: 90px;
  }
  .row {
    margin-bottom: 10px;
  }
  .container{
    margin-top: 80px;
  }
  #container {
    margin-top: 30px;
  }
  #footer {
      background-color: #2f2f2f;
      padding-top: 50px;
      padding-bottom: 50px; 
  }
  
  #footer p {
      color: white;
  }
  
  #footer h4 {
      color: white;
      text-transform: uppercase;
      padding-bottom: 20px;
  }
  .footer {
    padding: 15px 0 15px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    height: 50px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  